<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">
          <i class="bi bi-people"></i>
          Employee
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">
          <i class="bi bi-calendar-date"></i>
          Leave
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/salaryList">
          <i class="bi bi-cash-coin"></i>
          Salary
        </a>
      </li>    
    </ul>
  </div>
</nav>