<p>TIN No.: 123456789</p>
<p>SSS No.: 987654321</p>
<p>PHILHEALTH No.: 654321987</p>
<p>HDMF No.: 2468101214</p>
<p>Basic Pay: $2000</p>
<p>Night Differential: $100</p>
<p>Overtime Pay: $150</p>
<p>Holiday Pay: $250</p>
<p>Internet Allowance: $50</p>
<p>Other Bonuses: $300</p>
<p>Attendance Incentive: $100</p>
<p>Total Compensation: $3150</p>
<p>Total Net Pay: $3000</p>
<p>Hours Worked: 160</p>
<p>Regular Overtime: 10</p>
<p>Regular Holiday: 5</p>
<p>Number of Working Days: 22</p>
<p>Special Non-Working Day: 2</p>
<p>Holiday Overtime: 8</p>
<p>Service Incentive Leave Credit: 5</p>
<p>Gross Pay Rate: $25</p>
<p>Gross Rate per Hour: $20</p>
<p>Gross Salary Dollars: $4000</p>
<p>Gross Salary Pesos: ₱200000</p>
<p>Internet Allowance and Bonuses: $350</p>
<p>Total Gross Compensation: $4150</p>
<p>Year To Date Compensation: $25000</p>
<p>Year To Date Deductions: $5000</p>
<p>Year To Date Gross Pay: $30000</p>
<p>Year To Date Net Pay: $28000</p>
